@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery

@{
    var tokenSet = Antiforgery.GetAndStoreTokens(Context);
}

<div id="main"></div>

<div id='CreatePracticalQuestion' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-lg">
        <div id='CreatePracticalQuestionDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditPracticalQuestion' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-lg">
        <div id='EditPracticalQuestionTendersDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='DetailsPracticalQuestion' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered ">
        <div id='DetailsPracticalQuestionDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>

@section JavaScript
    {
    <script>
        var Token = '@tokenSet.RequestToken';

        var editMassege = '@Localizer["Edited successfully"]';
        var addMassege = '@Localizer["Added successfully"]';
        var deleteMassege = '@Localizer["Deleted successfully"]';
        var deleteMassegeError = '@Localizer["An error occurred while  deleting"]';
        var addMassegeError = '@Localizer["An error occurred while adding"]';
        var editMassegeError = '@Localizer["An error occurred while editing"]';
        $('.tms-questions').addClass("active");
        $('.tms-sub-PracticalQuestions').addClass("active");
        $('.tms-sub-top-nav  .tms_sub_questions').addClass("active");

        $(document).on('change', '#IsDiscountFromTotal', function () {
            if (this.checked)
                $("#Main").prop('checked', false)
        })

        $(document).on('change', '#Main', function () {
            if (this.checked)
                $("#IsDiscountFromTotal").prop('checked', false)
        })
    </script>

    <script src="~/js/PracticalQuestion/PracticalQuestion.js"></script>
}