@using LearningManagementSystem.Services.Helpers
@model DataEntity.Models.ViewModels.SemesterViewModel
@using LearningManagementSystem.Core.SystemEnums


@using Microsoft.AspNetCore.Mvc.Localization
@using DataEntity.Models.ViewModels

@inject IViewLocalizer Localizer

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="d-flex tms-page-popup-title">
            <div data-dismiss="modal" class="tms-close-div">
                <i class="fa fa-close"></i>
            </div>
            <div class="tms-table-popup-title" style="width:97%;">
                @Localizer["Delete Semester"]
            </div>
        </div>

        <div class="x_content">
            <table class="table tms-details">
                <tr>
                    <td class="tms-details-title">@Localizer["Name"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Publication Date"]</td>
                    <td class="tms-details-data">@(Model.PublicationDate.ConvertDateToString())</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Publication End Date"]</td>
                    <td class="tms-details-data">@(Model.PublicationEndDate.ConvertDateToString())</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Work Start Date"]</td>
                    <td class="tms-details-data">@(Model.WorkStartDate.ConvertDateToString())</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Work End Date"]</td>
                    <td class="tms-details-data">@(Model.WorkEndDate.ConvertDateToString())</td>
                </tr>
       
                <tr>
                    <td class="tms-details-title">@Localizer["Description"]</td>
                    <td class="tms-details-data">
                        @Html.Raw(Model.Description)
                    </td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Created On"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedOn)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Created By"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedBy) </td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Status"]</td>
                    <td class="tms-details-data">@LookupHelper.GetStatusById(Model.Status).Name</td>
                </tr>
            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <button class="tms-delete-btn" type="button" onclick="ConfirmDelete(@Model.Id)"><i class="fa fa-trash"></i> @Localizer["Delete Semester"]</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var arabicId =@((int)GeneralEnums.LanguageEnum.Arabic);
</script>