@page
@model ForgotPasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
    ViewData["Title"] = "Forgot your password?";
}







<div class="container-fluid mtb-center">
    <div class="row justify-content-center align-items-center ">
        <div class="px-139 w-login bg-white">
            <h3 class="Forgot text-center">  @Localizer["Forgot your password?"]</h3>
            <p class="Forgot-sup text-center">
                @Localizer["Please include your email address to receive the account password recovery link"]
            </p>
            <form  method="post">
                <div class="row p-0">
                    <div class="mb-3 p-0">
                        <label class="form-label" asp-for="Input.Email">@Localizer["Email"]</label><span class="required">*</span>
                        <input type="email" asp-for="Input.Email" class="form-control shadow-none" placeholder="@Localizer["Email"]">
                    </div>
                    <button class="btn mb-3 btn-primary  mx-auto h-loginbtn">@Localizer["Submit"]</button>
                    <div class="text-center">
                        <p>
                            <a class="form-label" asp-area="Identity" asp-controller="Account" asp-action="Login">@Localizer["Back to Log in"]</a>
                        </p>


                    </div>
                </div>
            </form>
        </div>
    </div>
</div>