@page
@model ResetPasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";

    ViewData["Title"] = "Reset password";
}



<div class="container-fluid mtb-center">
    <div class="row justify-content-center align-items-center ">
        <div class="px-139 w-login bg-white">
            <h2 class="text-center">@Localizer["Reset password"]</h2>
            <form  class="tms-login-frm" method="post">
                <div class="row p-0">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />

                    <div class="mb-3 p-0">
                        <label class="form-label" asp-for="Input.Email">@Localizer["Email"]</label>
                        <input type="email" asp-for="Input.Email" class="form-control shadow-none" placeholder="@Localizer["Email"]" required>

                        <div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="mb-3 p-0">
                        <label class="form-label" asp-for="Input.Password"> @Localizer["Password"] </label>
                        <div class="position-relative">

                            <input type="password" asp-for="Input.Password" class="form-control shadow-none password" placeholder=" @Localizer["Password"]" required>

                            <div class="position-absolute top-50 end-0 translate-middle-y mx-3">
                                <i class="fa-solid fa-eye togglePassword"></i>
                            </div>

                            <div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="mb-3 p-0">
                        <label class="form-label" asp-for="Input.ConfirmPassword"> @Localizer["Confirm Password"] </label>
                        <div class="position-relative">

                            <input type="password" asp-for="Input.ConfirmPassword" class="form-control shadow-none password" placeholder=" @Localizer["Confirm Password"]" required>

                            <div class="position-absolute top-50 end-0 translate-middle-y mx-3">
                                <i class="fa-solid fa-eye togglePassword"></i>
                            </div>

                            <div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <button class="btn mb-3 btn-primary  mx-auto h-loginbtn">@Localizer["Reset"]</button>

                </div>
            </form>
        </div>
    </div>
</div>

