@using LearningManagementSystem.Services.Helpers
@model DataEntity.Models.ViewModels.EnrollCourseExamViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using LearningManagementSystem.Core.SystemEnums;
@using System.Web;
@{
}

<div class="col-md-12 col-sm-12 col-xs-12 tms-page">
    <div class="x_panel bg-transparent">
        <div class="tms-page-title d-flex">
            <div class="tms-title">
                <h4><small>@Localizer["Course Exam Details"]</small></h4>
            </div>
        </div>
        <div class="x_content">
            <table class="table tms-details">
                <tr>
                    <td class="tms-details-title">@Localizer["Name"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Exam Template Name"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.ExamTemplateName)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Is Prerequisite"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.IsPrerequisite)</td>
                </tr>

                <tr>
                    <td class="tms-details-title">@Localizer["Publish Date"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.PublishDate)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Publish End Date"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.PublishEndDate)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Duration"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.Duration)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Description"]</td>
                    <td class="tms-details-data">@Html.Raw(Model.Description) </td>
                </tr>
                <tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Status"]</td>
                    <td class="tms-details-data">@LookupHelper.GetStatusById(Model.Status).Name</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Created On"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedOn)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Created By"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedBy)</td>
                </tr>

            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <button class="btn btn-danger" type="button" onclick="ConfirmRegenerate(@Model.Id)"><i class="fa fa-refresh"></i> @Localizer["Regenerate Exam Questions <small>All the current questions data will be deleted</small>"]</button>
                </div>
            }
        </div>
    </div>
</div>