@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="d-flex tms-page-popup-title">
                <div data-dismiss="modal" class="tms-close-div">
                    <i class="fa fa-close"></i>
                </div>
                <div class="tms-table-popup-title" style="width:97%;">
                    @Localizer["Column Management"]
                </div>
            </div>
            <div class="x_content">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Id"]
                            </td>
                            <td class="td d-none">
                                Id
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Name"]
                            </td>
                            <td class="td d-none">
                                Name
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Category"]
                            </td>
                            <td class="td d-none">
                                CateryId
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Image Url"]
                            </td>
                            <td class="td d-none">
                                ImageUrl
                            </td>
                        </tr>

                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Publish Date"]
                            </td>
                            <td class="td d-none">
                                PublishDate
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["End Date"]
                            </td>
                            <td class="td d-none">
                                EndDate
                            </td>
                        </tr>
                        @*<tr>
                        <td class="col-8">
                        <input type="checkbox" class="TableCheckBox" />
                        @Localizer["Allow Comment"]
                        </td>
                        <td class="td d-none">
                        AllowComment
                        </td>
                        </tr>

                        <tr>
                        <td class="col-8">
                        <input type="checkbox" class="TableCheckBox" />
                        @Localizer["Is Featured"]
                        </td>
                        <td class="td d-none">
                        IsFeatured
                        </td>
                        </tr>*@
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Show In Home Page"]
                            </td>
                            <td class="td d-none">
                                ShowInHomePage
                            </td>
                        </tr>

                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Sort Order"]
                            </td>
                            <td class="td d-none">
                                SortOrder
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Status"]
                            </td>
                            <td class="td d-none">
                                Status
                            </td>
                        </tr>
                   @*     <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Created On"]

                            </td>
                            <td class="td d-none">
                                CreatedOn
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Created By"]
                            </td>
                            <td class="td d-none">
                                CreatedBy
                            </td>
                        </tr>*@
                    </tbody>
                </table>

                <div class="text-center">
                    <button class="tms-save-btn" type="button" onclick="ChangeTable()"><i class="fa fa-save"></i> @Localizer["Saving Changes"]</button>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

