@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="d-flex tms-page-popup-title">
                <div data-dismiss="modal" class="tms-close-div">
                    <i class="fa fa-close"></i>
                </div>
                <div class="tms-table-popup-title" style="width:97%;">
                    @Localizer["Column Management"]
                </div>
            </div>
            <div class="x_content">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Course Name"]
                            </td>
                            <td class="td d-none">
                                CourseName
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Course Category"]
                            </td>
                            <td class="td d-none">
                                CourseCategory
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Teacher Name"]
                            </td>
                            <td class="td d-none">
                                TeacherName
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Attendance"]
                            </td>
                            <td class="td d-none">
                                Attendance
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Semester Name"]
                            </td>
                            <td class="td d-none">
                                SemesterName
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Section Name"]
                            </td>
                            <td class="td d-none">
                                SectionName
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Allowed Age"]
                            </td>
                            <td class="td d-none">
                                AgeAllowedForRegistration
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Students Gender"]
                            </td>
                            <td class="td d-none">
                                GenderGroup
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Number Of Allowed Student"]
                            </td>
                            <td class="td d-none">
                                CountOfAllowedStudent
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Number Of Student"]
                            </td>
                            <td class="td d-none">
                                CountOfStudent
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Passed"]
                            </td>
                            <td class="td d-none">
                                Passed
                            </td>
                        </tr> 
                       
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Warning"]
                            </td>
                            <td class="td d-none">
                                Warning
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Publication Start Date"]
                            </td>
                            <td class="td d-none">
                                PublicationDate
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Publication End Date"]
                            </td>
                            <td class="td d-none">
                                PublicationEndDate
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Start Date"]
                            </td>
                            <td class="td d-none">
                                WorkStartDate
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["End Date"]
                            </td>
                            <td class="td d-none">
                                WorkEndDate
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Created On"]

                            </td>
                            <td class="td d-none">
                                CreatedOn
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Created By"]
                            </td>
                            <td class="td d-none">
                                CreatedBy
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8">
                                <input type="checkbox" class="TableCheckBox" />
                                @Localizer["Status"]
                            </td>
                            <td class="td d-none">
                                Status
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center">
                    <button class="tms-save-btn" type="button" onclick="ChangeTable()"><i class="fa fa-save"></i> @Localizer["Saving Changes"]</button>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

