@using LearningManagementSystem.Core.SystemEnums
@using LearningManagementSystem.Services.Helpers
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<DataEntity.Models.EfModels.EnrollCourseExam>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery
@{
    var paginations = LookupHelper.GetLookupDetailsByMasterCode(GeneralEnums.MasterLookupCodeEnums.Pagination.ToString(), ViewBag.LangId);
    var paginationValue = ViewBag.PaginationValue;
    var tokenSet = Antiforgery.GetAndStoreTokens(Context);
    var MainUrl = Url.Action("GetData", new { page = ViewBag.page, CourseId = ViewBag.CourseId });
}
<div class="row">
    <input type="hidden" id="EnrollCourseExamCurrentUrl" value="@MainUrl" />
    <div class="col-12">
        <div class="x_panel bg-transparent">
            <div class="row mb-3">
                <div class="col-12 ">
                    <form data-ajax="true" method="get" action="/Trainer/EnrollCourseExam/GetData" id="Form1" data-ajax-success="GetData" data-ajax-begin="ShowSpinner" data-ajax-complete="HideSpinner">

                        @Html.Hidden("table")
                        @Html.Hidden("pagination")
                        @Html.Hidden("Page")
                        <div class="float-start">
                            <p> @Localizer["The exam time will be in the time zone :"] (@ViewBag.TimeZone)  </p>
                        </div>

                        @if (AuthenticationHelper.CheckAuthentication("EnrollCourseExam", "Create", User.Identity.Name))
                        {
                            <button class="btn btn-primary float-end" type="button" onclick="ShowAddEnrollCourseExam(@ViewBag.CourseId, @ViewBag.LangId)"><img src="~/img/add-to-list.png" /> @Localizer["Add New Course Exam or Quiz"]</button>
                        }

                    </form>
                </div>
            </div>
            <div class="table-responsive table-bordered">
                <table class="table text-center m-0">
                    <thead class="table-primary">
                        <tr class="tms-headings">
                            <th>
                                @Localizer["Name"]
                            </th>
                            <th>
                                @Localizer["Type"]
                            </th>
                            <th>
                                @Localizer["Publish Date"]
                            </th>
                            <th>
                                @Localizer["Publish End Date"]
                            </th>
                            <th>
                                @Localizer["Mark"]
                            </th>
                            <th>
                                @Localizer["Duration"]
                            </th>
                            <th>
                                @Localizer["Is Prerequisite"]
                            </th>
                            <th>
                                @Localizer["Solved Exams and Quizzes"]
                            </th>
                            <th>
                                @Localizer["Created On"]
                            </th>
                            <th>
                                @Localizer["Choose a process"]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count == 0)
                        {
                            <tr class="tms-tr">
                                <td colspan="10">@Localizer["No data available in the table"] </td>
                            </tr>
                        }
                        @foreach (var item in Model)
                        {
                            var ExamFinalMark = ((item.ExamFinalMark.HasValue) ? item.ExamFinalMark.Value : 0);
                            var PublishDate = LookupHelper.ConvertTimeToSystemTimeZone(item.PublishDate);
                            var PublishEndDate = LookupHelper.ConvertTimeToSystemTimeZone(item.PublishEndDate);

                            <tr class="tms-tr">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                              <td>
                                   @LookupHelper.GetTestTypeById(item.TestTypeId.Value ,(int)ViewBag.LangId)?.Name
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem =>PublishDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => PublishEndDate)
                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => ExamFinalMark)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Duration)
                                </td>
                                <td>
                                    @if (item.IsPrerequisite == true)
                                    {
                                        <span class="fa fa-check"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-times"></span>
                                    }
                                </td>
                                <td>
                                    @item.EnrollStudentExams.Count()

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                </td>
                                <td>

                                    <div class="dropdown dropdown-lg d-inline-block ms-auto ">
                                        <button class="btnn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            @if (AuthenticationHelper.CheckAuthentication("EnrollCourseExam", "Edit", User.Identity.Name))
                                            {
                                                <li> <a class="dropdown-item" href="javascript:void(0);" onclick="ShowEditEnrollCourseExam(@item.Id, @ViewBag.LangId)"><i class="fa-solid fa-pen"></i>@Localizer["Edit"]</a> </li>

                                            }
                                            @if (AuthenticationHelper.CheckAuthentication("EnrollCourseExam", "View", User.Identity.Name))
                                            {
                                                <li> <a class="dropdown-item" href="javascript:void(0);" onclick="ShowDetailsEnrollCourseExam(@item.Id, @ViewBag.LangId)"><i class="fa-solid fa-eye"></i> @Localizer["Details"]</a></li>
                                            }

                                            @if (AuthenticationHelper.CheckAuthentication("EnrollCourseExam", "Delete", User.Identity.Name))
                                            {
                                                <li> <a class="dropdown-item" href="javascript:void(0);" onclick="ShowDeleteEnrollCourseExam(@item.Id, @ViewBag.LangId)"><i class="fa-solid fa-trash"></i>@Localizer["Delete"]</a> </li>

                                            }
                                            @if (AuthenticationHelper.CheckAuthentication("EnrollCourseExam", "View", User.Identity.Name))
                                            {
                                                <li> <a class="dropdown-item" href="javascript:void(0);" onclick="ShowExamQuestions(@item.Id, @ViewBag.LangId)"><i class="fa-solid fa-pen"></i>@Localizer["Manage Questions"]</a></li>
                                            }
                                            @if (AuthenticationHelper.CheckAuthentication("EnrollCourseExam", "Edit", User.Identity.Name))
                                            {
                                                 <li> <a class="dropdown-item" href="javascript:void(0);" onclick="ShowSubmittedExams(@item.Id, @ViewBag.LangId)"><i class="fa-solid fa-upload"></i> @Localizer["Solved Exams and Quizzes"]</a></li>
                                              
                                            }
                                            @if (AuthenticationHelper.CheckAuthentication("EnrollCourseExam", "Edit", User.Identity.Name) && item.ExamTemplateId > 0 )
                                            {
                                                <li> <a class="dropdown-item" href="javascript:void(0);" onclick="ShowRegenerateExamQuestions(@item.Id, @ViewBag.LangId)"><i class="fa-solid fa-refresh"></i> @Localizer["Regenerate Exam Questions"]</a></li>

                                            }
                                            @if (AuthenticationHelper.CheckAuthentication("EnrollCourseExam", "MarkAdoption", User.Identity.Name))
                                            {
                                                if (item.MarkAdoption != true)
                                                {
                                                    <li> <a class="dropdown-item" href="javascript:void(0);" onclick="MarkExamAdoption(@item.Id, true)"><i class="fa-regular fa-eye"></i> @Localizer["Mark Adoption"]</a></li>
                                                }
                                                else
                                                {
                                                    <li> <a class="dropdown-item" href="javascript:void(0);" onclick="MarkExamAdoption(@item.Id, false)"><i class="fa-regular fa-eye-slash"></i> @Localizer["Cancel Mark Adoption"]</a></li>
                                                }
                                            }

                                        </ul>

                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="paddtop-Page">
                @if (Model.PageCount > 0)
                {
                    <div class="paging-div">
                        @Html.PagedListPager(Model, page => Url.Action("GetData", new { page, CourseId = ViewBag.CourseId }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "UserProfile_Exams" }))
                        <div class="d-flex justify-content-center">@Localizer["Page"] <p class="text-danger px-1">@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)</p>@Localizer["from"] <p class="text-primary px-1">@Model.PageCount</p> @Localizer["Item No:"]  <p class="text-primary px-1">@Model.TotalItemCount</p> </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CreateEnrollCourseExam" tabindex="-1" aria-labelledby="CreateEnrollCourseExamLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="CreateEnrollCourseExamDiv">
        </div>
    </div>
</div>
<div class="modal fade" id="EditEnrollCourseExam" tabindex="-1" aria-labelledby="EditEnrollCourseExamLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="EditEnrollCourseExamDiv">
        </div>
    </div>
</div>
<div class="modal fade" id="DetailsEnrollCourseExam" tabindex="-1" aria-labelledby="DetailsEnrollCourseExamLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="DetailsEnrollCourseExamDiv">
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteEnrollCourseExam" tabindex="-1" aria-labelledby="DeleteEnrollCourseExamLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="DeleteEnrollCourseExamDiv">
        </div>
    </div>
</div>
<div class="modal fade" id="ShowExamQuestions" tabindex="-1" aria-labelledby="ShowExamQuestionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="ShowExamQuestionsDiv">
        </div>
    </div>
</div>
<div class="modal fade" id="ShowExamViewmodal" tabindex="-1" aria-labelledby="ShowExamViewmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="ShowExamViewmodalDiv">
        </div>
    </div>
</div>
<div class="modal fade" id="ShowRegenerateExamQuestions" tabindex="-1" aria-labelledby="ShowRegenerateExamQuestionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="ShowRegenerateExamQuestionsDiv">
        </div>
    </div>
</div>
<div class="modal fade" id="ShowSubmittedExams" tabindex="-1" aria-labelledby="ShowSubmittedExamsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="ShowSubmittedExamsDiv">
        </div>
    </div>
</div>
<div class="modal fade" id="ShowExamCorrection" tabindex="-1" aria-labelledby="ShowExamCorrectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="ShowExamCorrectionDiv">
        </div>
    </div>
</div>
<div class="modal fade" id="BankExamQuestionsGetData" tabindex="-1" aria-labelledby="BankExamQuestionsGetDataLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="BankExamQuestionsGetDataDiv">
        </div>
    </div>
</div>
<div class="modal fade" id="ShowAddQuestions" tabindex="-1" aria-labelledby="ShowAddQuestionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" id="ShowAddQuestionsDiv">
        </div>
    </div>
</div>

<div class="modal fade" id="ResultSubmitExam" tabindex="-1" aria-labelledby="ResultSubmitExamLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="ResultSubmitExamDiv">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ResultSubmitExamLabel"></h1>
                <i class="fa-solid fa-circle-xmark modal-Close" data-bs-dismiss="modal"
                   aria-label="Close"></i>
            </div>
            <div class="text-center mt-5">
                <button class="btn btn-success" type="button" id="btnResultSubmitExamExam"><i class="fa fa-times"></i> @Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Pdf" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div id='PdfDiv' class="modal-content">
            <div class="modal-header">
                <i class="fa-solid fa-circle-xmark modal-Close" data-bs-dismiss="modal"
                   aria-label="Close"></i>
            </div>
            <embed id="PdfView" src="" frameborder="0" style="height:85vh; width:100% ;z-index:2450">
        </div>
    </div>
</div>
<div class="modal fade" id="ImageM" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div id='ImageMDiv' class="modal-content">
            <div class="modal-header">
                <i class="fa-solid fa-circle-xmark modal-Close" data-bs-dismiss="modal"
                   aria-label="Close"></i>
            </div>
            <img id="ImageMView" src="" style="height:85vh; width:100% ;z-index:2450">
        </div>
    </div>
</div>


<div class="modal fade" id="AddRemoveTemplateExamQuestions" tabindex="-1" aria-labelledby="ShowAddQuestionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div id='AddRemoveTemplateExamQuestionsDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>


<script>
    var Token = '@tokenSet.RequestToken';
    var editMassege = '@Localizer["Edited successfully"]';
    var addMassege = '@Localizer["Added successfully"]';
    var deleteMassege = '@Localizer["Deleted successfully"]';
    var deleteMassegeError = '@Localizer["An error occurred while  deleting"]';
    var addMassegeError = '@Localizer["An error occurred while adding"]';
    var editMassegeError = '@Localizer["An error occurred while editing"]';
    var RegenerateMassege = '@Localizer["Regenerated the exam questions data successfully"]';
    var RegenerateMassegeError = '@Localizer["An error occurred while regenerating the exam questions"]';
    var FailExamTemplateId = '@Localizer["You must select an exam template from the list!"]';
    var FailEnrollLectureId = '@Localizer["You must select a lecture from the list!"]';
    var editMassegeErrorQuestions = '@Localizer["An error occurred while editing, The questions have been answered by the students"]';

</script>
<script type="text/javascript">
    $("#BankExamQuestionsGetData").on('hide.bs.modal', function () {
        $('#ShowExamQuestions').removeClass("CustmModle");
        var ViewModleEnrollCourseExamId = $("#ViewModleEnrollCourseExamId").val();
        var ViewModleLangId = $("#ViewModleLangId").val();
        setTimeout(function () {
            $('#BankExamQuestionsGetDataDiv').empty();
        }, 300);
        ShowExamQuestions(ViewModleEnrollCourseExamId, ViewModleLangId);

    });

    $("#ShowAddQuestions").on('hide.bs.modal', function () {
        $('#BankExamQuestionsGetData').removeClass("CustmModle");
        var ViewModleEnrollCourseExamId = $("#ViewModleEnrollCourseExamId").val();
        var ViewModleLangId = $("#ViewModleLangId").val();
        setTimeout(function () {
            $('#ShowAddQuestionsDiv').empty();
            ShowAddRemoveExamQuestions(ViewModleLangId, ViewModleEnrollCourseExamId);
        }, 300);

    });

    function OpenPdf(file) {
        $('#PdfView').attr("src", file)
        $('#Pdf').modal("show")
    }
    function ImageM(file) {
        $('#ImageMView').attr("src", file)
        $('#ImageM').modal("show")
    }
</script>

<script src="~/js/EnrollCourseExam/EnrollCourseExam.js?ver=62.2.66556"></script>
<script src="~/js/EnrollCourseExam/EnrollExamQuestion.js?ver=2.52111"></script>