@using LearningManagementSystem.Services.Helpers
@model DataEntity.Models.EfModels.Permission
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Delete Permission"];
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="d-flex tms-page-popup-title">

            <a onclick="history.back()">
                <i class="fa fa-close"></i>
            </a>
            <div class="tms-table-popup-title" style="width:97%;">
                @Localizer["Delete Permission"]
            </div>
        </div>

        <div class="x_content">
            <table class="table tms-details">
                <tr>
                    <td class="tms-details-title">@Localizer["Page Name"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.PageName)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Permission Key"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.PermissionKey)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Description"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Page Url"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.PageUrl)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Status"]</td>
                    <td class="tms-details-data">@LookupHelper.GetStatusById(Model.Status).Name</td>
                </tr>

                <tr>
                    <td class="tms-details-title">@Localizer["Created On"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedOn)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Created By"]</td>
                    <td class="tms-details-titdatale">@Html.DisplayFor(model => model.CreatedBy)</td>
                </tr>

            </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <button class="tms-delete-btn" type="submit"><i class="fa fa-trash"></i> @Localizer["Delete Permission"]</button>
                </div>
            }

        </div>
    </div>
</div>
@section JavaScript{
    <script>
       $('.tms-management').addClass("active");
            $('.tms-sub-Permissions').addClass("active");
            $('.tms-sub-top-nav  .tms_sub_management').addClass("active");
    </script>

}