@model X.PagedList.IPagedList<DataEntity.Models.EfModels.ExamTemplate>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery

@{
    var tokenSet = Antiforgery.GetAndStoreTokens(Context);
}

<div id="main"></div>

<div id='CreateExamTemplate' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-lg">
        <div id='CreateExamTemplateDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditExamTemplate' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-lg">
        <div id='EditExamTemplateDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='DetailsExamTemplate' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered ">
        <div id='DetailsCompanyDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='DeleteExamTemplate' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered">
        <div id='DeleteRegimentDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditTable' style="z-index: 1050" role="dialog" class='modal fade'>
    <div class="modal-dialog modal-dialog-centered">
        <div id='EditTableDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>

<div id='ShowImageExamTemplate' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog modal-dialog-centered">
        <div id='ShowImageExamTemplateDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='AddRemoveTemplateExamQuestions' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-xl">
        <div id='AddRemoveTemplateExamQuestionsDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='ShowExamQuestions' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-xl">
        <div id='ShowExamQuestionsDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>


@section JavaScript
{
    <script>
        var Token = '@tokenSet.RequestToken';
        let table = '@ViewBag.Table'.split(',');
        let s = ["Id", "Name", "Description", "Duration", "CategoryId", "CourseId", "Status", "CreatedOn", "CreatedBy"]

        var editMassege = '@Localizer["Edited successfully"]';
        var addMassege = '@Localizer["Added successfully"]';
        var deleteMassege = '@Localizer["Deleted successfully"]';
        var deleteMassegeError = '@Localizer["An error occurred while  deleting"]';
        var addMassegeError = '@Localizer["An error occurred while adding"]';
         var editMassegeError = '@Localizer["An error occurred while editing"]';
        $('.tms-questions').addClass("active");
        $('.tms-sub-ExamTemplates').addClass("active");
        $('.tms-sub-top-nav .tms_sub_questions').addClass("active");
    </script>

    <script src="~/js/ExamTemplate/ExamTemplate.js?ver=5.1"></script>
}