@using LearningManagementSystem.Services.Helpers
@model DataEntity.Models.ViewModels.CourseViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="d-flex tms-page-popup-title">
            <div data-dismiss="modal" class="tms-close-div">
                <i class="fa fa-close"></i>
            </div>
            <div class="tms-table-popup-title" style="width:97%;">
                @Localizer["Delete Course"]
            </div>
        </div>

        <div class="x_content">
            <table class="table tms-details">
                <tr>
                    <td class="tms-details-title">@Localizer["Id"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.Id)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Course Name"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CourseName)</td>
                </tr>
                <tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Course Duration/Hour"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CourseDuration)</td>
                </tr>
                <tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Course Price"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CoursePrice)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Success Mark"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.SuccessMark)</td>
                </tr>
                <tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Course Category"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CategoryName)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Learning Method"]</td>
                    @if (Model.LearningMethodId != null)
                    {
                        <td class="tms-details-data">@LookupHelper.GetLookupDetailsById(Model.LearningMethodId ?? 0).Name</td>
                    }
                    else
                    {
                        <td class="tms-details-data">--</td>
                    }
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Image Url"]</td>
                    <td class="tms-details-data">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <a href="javascript:;" class="tms-imageview-btn" onclick="ShowImageView('@Model.ImageUrl')" aria-haspopup="true" id="ImageViewer" data-toggle="dropdown" aria-expanded="false">
                                <img src="/img/search.png">
                            </a>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Show In Home Page"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.ShowInHomePage)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Need Question"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.NeedQuestion)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Question Description"]</td>
                    <td class="tms-details-data">@Html.Raw(Model.QuestionDescription)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Acquired kills"]</td>
                    <td class="tms-details-data">@Html.Raw(Model.AcquiredSkills)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Target Group"]</td>
                    <td class="tms-details-data">@Html.Raw(Model.TargetGroup)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Notes"]</td>
                    <td class="tms-details-data">@Html.Raw(Model.Notes)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Requirements"]</td>
                    <td class="tms-details-data">@Html.Raw(Model.Requirements)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Status"]</td>
                    <td class="tms-details-data">@LookupHelper.GetStatusById(Model.Status).Name</td>
                </tr>

                <tr>
                    <td class="tms-details-title">@Localizer["Created On"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedOn)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Created By"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedBy)</td>
                </tr>
            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <button class="tms-delete-btn" type="button" onclick="ConfirmDelete(@Model.Id)"><i class="fa fa-trash"></i> @Localizer["Delete Course"]</button>
                </div>
            }
        </div>
    </div>
</div>


