@model X.PagedList.IPagedList<DataEntity.Models.EfModels.Assignment>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery

@{
    var tokenSet = Antiforgery.GetAndStoreTokens(Context);
}

<div id="main"></div>

<div id='CreateAssignment' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-lg">
        <div id='CreateAssignmentDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditAssignment' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-lg">
        <div id='EditAssignmentDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='DetailsAssignment' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered ">
        <div id='DetailsCompanyDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='DeleteAssignment' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered">
        <div id='DeleteRegimentDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditTable' style="z-index: 1050" role="dialog" class='modal fade'>
    <div class="modal-dialog modal-dialog-centered">
        <div id='EditTableDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>


@section JavaScript
{
    <script>
        var Token = '@tokenSet.RequestToken';
        let table = '@ViewBag.Table'.split(',');
        let s = ["Id", "Name", "CourseId", "SubmissionDate", "ExpiryDate", "Status", "CreatedOn", "CreatedBy"]

        var editMassege = '@Localizer["Edited successfully"]';
        var addMassege = '@Localizer["Added successfully"]';
        var deleteMassege = '@Localizer["Deleted successfully"]';
        var deleteMassegeError = '@Localizer["An error occurred while  deleting"]';
        var addMassegeError = '@Localizer["An error occurred while adding"]';
        var editMassegeError = '@Localizer["An error occurred while editing"]';
        var AddMassegeErrorInvalidDates = '@Localizer["An error occurred while adding, You must add valid dates"]';
        var EditMassegeErrorInvalidDates = '@Localizer["An error occurred while editing, You must add valid dates"]';
        

        $('.tms-courses').addClass("active");
        $('.tms-sub-Assignments').addClass("active");
        $('.tms-sub-top-nav  .tms_sub_courses').addClass("active");
    </script>

    <script src="~/js/Assignment/Assignment.js?ver=1.1"></script>
}