@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery

@{
    var tokenSet = Antiforgery.GetAndStoreTokens(Context);
}

<div id="main"></div>

<div id='CreateSubject' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-lg">
        <div id='CreateSubjectDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditSubject' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-lg">
        <div id='EditSubjectTendersDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='DetailsSubject' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered ">
        <div id='DetailsSubjectDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>

@section JavaScript
    {
    <script>
        var Token = '@tokenSet.RequestToken';
        let table = '@ViewBag.Table'.split(',');
        let s = ["Id", "Name", "Code", "Color", "Status", "CreatedBy", "CreatedOn"]

        var editMassege = '@Localizer["Edited successfully"]';
        var addMassege = '@Localizer["Added successfully"]';
        var deleteMassege = '@Localizer["Deleted successfully"]';
        var deleteMassegeError = '@Localizer["An error occurred while  deleting"]';
        var addMassegeError = '@Localizer["An error occurred while adding"]';
        var editMassegeError = '@Localizer["An error occurred while editing"]';
        $('.tms-questions').addClass("active");
        $('.tms-sub-Subject').addClass("active");
        $('.tms-sub-top-nav  .tms_sub_questions').addClass("active");
    </script>

    <script src="~/js/Subject/Subject.js"></script>
}