@using LearningManagementSystem.Core.SystemEnums
@using LearningManagementSystem.Services.Helpers
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core
@model IEnumerable<DataEntity.Models.EfModels.MarkAdoptionForExam>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@using LearningManagementSystem.Services.ControlPanel
@inject IExamTemplateService TemplateService


<div class="col-md-12 col-sm-12 col-xs-12 tms-page">
    <div class="x_panel bg-transparent">
        <div>
            <h4>@Localizer["Exams"]</h4>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="tms-table">
                    <thead>
                        <tr class="tms-headings">
                            <th>
                                @Localizer["Adopt"]
                            </th>
                            <th>
                                @Localizer["Exam Name"]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tms-tr">
                                <td>
                                    <input type="checkbox" onclick="Adopted(@item.ExamTemplateId ,this)" @(item.Value == true ? "checked" : "") />
                                </td>
                                <td>
                                    @TemplateService.GetExamTemplateById(item.ExamTemplateId??0, ViewBag.LangId)?.Name
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
