@using LearningManagementSystem.Services.Helpers
@model DataEntity.Models.ViewModels.CmsCategoryProjectViewModel
@using DataEntity.Models.ViewModels

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    List<BranchViewModel> branches = LookupHelper.GetBranches(ViewBag.LangId);
    var dictonaryBranch = branches.ToDictionary(b => b.Id, b => b.Name);


    ViewData["Title"] = @Localizer["Details"];
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div>
        <div class="d-flex tms-page-popup-title">
            <div data-dismiss="modal" class="tms-close-div">
                <i class="fa fa-close"></i>
            </div>
            <div class="tms-table-popup-title" style="width:97%;">
                @Localizer["Details"]
            </div>
        </div>

        <div class="x_content">
            <table class="table tms-details">
                <tr>
                    <td class="tms-details-title">@Localizer["Name"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Description"]</td>
                    <td class="tms-details-data">
                        @Html.Raw(Model.Description)
                    </td>
                </tr>

                


                <tr>
                    <td class="tms-details-title">@Localizer["Created On"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedOn)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Created By"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedBy)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Status"]</td>
                    <td class="tms-details-data">@LookupHelper.GetStatusById(Model.Status).Name</td>
                </tr>
            </table>
        </div>
    </div>
</div>