@model List<DataEntity.Models.EfModels.EnrollSectionOfCourse>
@using Microsoft.AspNetCore.Mvc.Localization
@using LearningManagementSystem.Services.Helpers
@using LearningManagementSystem.Core.SystemEnums
@using DataEntity.Models.EfModels;
@inject IViewLocalizer Localizer

@{
    Layout = null;
    int sectionNo = 1;

    var firstEnrollCourseResources = Model.FirstOrDefault()?.EnrollLectures.FirstOrDefault()?.EnrollCourseResources;
    var firstEnrollCourseResourcesVideo = Model.FirstOrDefault()?.EnrollLectures.FirstOrDefault()?.EnrollCourseResources.FirstOrDefault(s => s.Type == (int)GeneralEnums.ResourceTypeEnum.Video);
    var courseResourcesVideos = Model.FirstOrDefault()?.EnrollLectures.FirstOrDefault()?.EnrollCourseResources.Where(s => s.Type == (int)GeneralEnums.ResourceTypeEnum.Video);

    var firstEnrollCourseResourcesPdfs = Model.FirstOrDefault()?.EnrollLectures.FirstOrDefault()?.EnrollCourseResources.Where(s => s.Type == (int)GeneralEnums.ResourceTypeEnum.Pdf);
    var firstEnrollCourseResourcesDocs = Model.FirstOrDefault()?.EnrollLectures.FirstOrDefault()?.EnrollCourseResources.Where(s => s.Type == (int)GeneralEnums.ResourceTypeEnum.Doc);

    var firstEnrollCourseResourcesImage = Model.FirstOrDefault()?.EnrollLectures.FirstOrDefault()?.EnrollCourseResources.Where(s => s.Type == (int)GeneralEnums.ResourceTypeEnum.Image);
    var firstEnrollCourseResourcesOther = Model.FirstOrDefault()?.EnrollLectures.FirstOrDefault()?.EnrollCourseResources.Where(s => s.Type == (int)GeneralEnums.ResourceTypeEnum.Other);
    bool enroll = ViewBag.Enroll;
    bool NeedApproval = ViewBag.NeedApproval;
    var ListCourseLessonQuiz = (List<EnrollCourseExam>)ViewBag.CourseLessonQuiz;
}

<style>
    .w-SectionLesson {
        width: 245.4px;
        margin-bottom: 5px;
        padding: 10px;
    }

        .w-SectionLesson:hover {
            background-color: #E3F2F6;
            border-radius: 10px;
        }

    .fa-play {
        background-color: #1088A2 !important;
    }

    .sub-card {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .bg-nameSection {
        display:flex;
        justify-content:center;
        width: 300px;
        background-color: #E3F2F6;
        color: #003A6A;
        padding: 15px 29px;
    }

    .play-icon {
        color: #fff;
        background-color: var(--primary);
        padding: 18px 20px;
    }

    .play-icon-num {
        border: 1px solid #D0DBE5;
        color: var(--primary);
        background-color: #F6F6F6;
        padding: 13px 15px;
    }

    #pills-Lessons .Lesson {
        color: #8B8B8B;
    }

    .clock-color {
        color: #8B8B8B;
    }

    .fs-Video-clock {
        font-size: 10px;
    }

    .fs-Lesson {
        color: #2088CA;
        font-size: 15px;
        display:flex;
    }

    .bg-p-E3F2F6 {
        display: flex;
        flex-direction: column;
        background-color: #E3F2F6;
        border-radius: 10px;
        margin-top: 25px;
        padding: 20px;
        align-items: flex-start;
    }

        .bg-p-E3F2F6 p {
            color: #8B8B8B;
        }

        .bg-p-E3F2F6 a span {
            color: var(--primary);
            border-bottom: 1px solid var(--primary);
            font-size: 15px;
        }

    .h-vedLesson-iframe {
        height: 700px;
    }

    @@media only screen and (max-width: 992px) {
        .h-vedLesson-iframe {
            height: 340px;
        }

        .side-sec-Lesson {
            position: absolute;
            z-index: 50;
            background-color: #fff;
        }

        .bg-Required {
            background-color: #E3F2F6;
            font-size: 14px;
        }

        .w-col-Lesson {
            width: 317px;
            height: 100%;
            overflow: auto
        }

        .w-SectionLesson {
            width: 245.4px;
            margin-bottom: 30px;
            padding-left: 32px;
        }

        .bg-nameSection {
            width: 300px;
            padding: 15px 29px;
        }

        .play-icon {
            color: #fff;
            padding: 18px 20px;
        }

        .play-icon-num {
            padding: 13px 15px;
        }

        .fs-Video-clock {
            font-size: 10px;
        }

        .fs-Lesson {
            color: #8B8B8B;
            font-size: 15px;
        }

        .bg-p-E3F2F6 {
            background-color: #E3F2F6;
            border-radius: 10px;
            margin-top: 25px;
            padding: 20px;
        }

        .tabcontent .My-Cources {
            font-size: 20px;
        }

        .tabcontent .quran-Basic {
            font-size: 20px;
        }

        .Course-Contant {
            font-size: 30px;
        }


        .menu-sliders {
            display: flex;
            flex-wrap: nowrap;
            overflow: auto;
        }

            .menu-sliders::-webkit-scrollbar {
                display: none;
            }

            .menu-sliders .menu-slide {
                flex-shrink: 0;
                font-size: 13px;
                margin-right: 5px;
            }
    }

    #LessonDetails {
        display: flex;
        justify-content: center
    }
</style>

@if (!Model.Any() || !enroll || NeedApproval)
{
    <div><h3 class="text-center pt-3">@Localizer["There is No Data"]</h3></div>
}
else if (enroll)
{
    <div class="d-flex justify-content-between p-3">
        @if (!NeedApproval)
        {
            <div class="w-col-Lesson" id="side-sec-Lesson">
                <button onclick="moreLesson()" class="btn d-inline d-lg-none btn-danger">colse</button>
                @foreach (var enrollSectionOfCourse in Model)
                {
                    int lectureNo = 1;

                    <div class="sub-card">
                        <p class="bg-nameSection rounded-pill">
                            @Localizer["Section"] @sectionNo <span class="vr mx - 2"></span>
                            @enrollSectionOfCourse.SectionName
                        </p>
                        @foreach (var lectur in enrollSectionOfCourse.EnrollLectures)
                        {
                            <a href="javascript:;" onclick="ShowLessonDetails(@lectur.Id , @ViewBag.EnrollStudentCourseId)" class="d-flex align-items-center w-SectionLesson">
                                <span class="d-none rounded-circle play-icon-num ">@lectureNo</span>
                                <i class="fa fa-play play-icon rounded-circle"></i>
                                <div class="col px-3">
                                    <p class="m-0 fs-Lesson text-primarycolor">@Localizer["Lesson"] @lectureNo </p>
                                    <div class="d-flex justify-content-between fs-Video-clock">
                                        <p class="m-0 clock-color">@lectur.LectureName</p>
                                    </div>
                                </div>
                            </a>
                            lectureNo++;
                        }
                    </div>
                    sectionNo++;
                }
            </div>
            <div id="LessonDetails" class="col-12 col-lg-9">
                <div class="col-12 col-lg-9">

                    <button onclick="moreLesson()"
                            class="btn btn-primary text-center mb-2 d-inline d-lg-none">
                        <i class="fa-solid fa-bars"></i>more Section
                    </button>
                    @if (!string.IsNullOrEmpty(firstEnrollCourseResourcesVideo?.Link))
                    {
                        <iframe class="w-100 h-vedLesson-iframe"
                                src="@firstEnrollCourseResourcesVideo?.Link"></iframe>
                    }
                    @if (!string.IsNullOrEmpty(firstEnrollCourseResourcesVideo?.Description))
                    {
                        <div class="bg-p-E3F2F6">
                            <h4>@Localizer["Lesson Notes:"]</h4>
                            <p>@firstEnrollCourseResourcesVideo?.Description
                        </div>
                    }
                    <div class="bg-p-E3F2F6">
                        <h4>@Localizer["Lesson Attachments:"]</h4>
                        @if (courseResourcesVideos != null)
                        {
                            @foreach (var video in courseResourcesVideos)
                            {
                                <p>
                                    <a href="@video.Link" download target="_blank">
                                        <img src="~/theme/Public/assets/images/lesson/video.png" alt="video"><span class="mx-2">@video.Name</span>
                                    </a>
                                </p>
                            }
                        }
                        @if (firstEnrollCourseResourcesPdfs != null)
                        {
                            foreach (var pdf in firstEnrollCourseResourcesPdfs)
                            {
                                <p>
                                    <a href="@pdf.Link" download target="_blank">
                                        <img src="~/theme/Public/assets/images/lesson/pdf.png" alt="pdf"><span class="mx-2">@pdf.Name</span>
                                    </a>
                                </p>
                            }
                        }
                        @if (firstEnrollCourseResourcesDocs != null)
                        {
                            foreach (var doc in firstEnrollCourseResourcesDocs)
                            {
                                <p>
                                    <a href="@doc.Link" download target="_blank">
                                        <img src="~/theme/Public/assets/images/lesson/Doc.png" alt="Doc"><span class="mx-2">@doc.Name</span>
                                    </a>
                                </p>
                            }
                        }
                        @if (firstEnrollCourseResourcesImage != null)
                        {
                            foreach (var doc in firstEnrollCourseResourcesImage)
                            {
                                <p>
                                    <a href="@doc.Link" download target="_blank">
                                        <img src="~/theme/Public/assets/images/lesson/image.png" alt="Image"><span class="mx-2">@doc.Name</span>
                                    </a>
                                </p>
                            }
                        }
                        @if (firstEnrollCourseResourcesOther != null)
                        {
                            foreach (var doc in firstEnrollCourseResourcesOther)
                            {
                                <p>
                                    <a href="@doc.Link" download target="_blank">
                                        <img src="~/theme/Public/assets/images/lesson/other.png" alt="other"><span class="mx-2">@doc.Name</span>
                                    </a>
                                </p>
                            }
                        }

                    </div>
                    @if (ListCourseLessonQuiz != null && ListCourseLessonQuiz.Count > 0)
                    {
                        <div class="bg-p-E3F2F6">
                            <h4>@Localizer["Lesson Quizzes:"]</h4>

                            @foreach (var exam in ListCourseLessonQuiz)
                            {
                                @if (ViewBag.studentId != null)
                                {

                                    var MarkAfterConversion = 0.0;
                                    var Cal_FinalMark = 0.0;
                                    var FinalMark = 0.0;
                                    var MarkHeGot = 0.0;
                                    var NeedCorectionFromTrainer = 0;
                                    var EnrollStudentExamID = 0;
                                    if (exam.EnrollStudentExams.Count() > 0)
                                    {
                                        Cal_FinalMark = exam.EnrollStudentExams.FirstOrDefault().FinalMark.Value;
                                        FinalMark = exam.EnrollStudentExams.FirstOrDefault().FinalMark.Value;
                                        MarkHeGot = exam.EnrollStudentExams.FirstOrDefault().MarkHeGot.Value;
                                        MarkAfterConversion = exam.EnrollStudentExams.FirstOrDefault().MarkAfterConversion.Value;
                                        NeedCorectionFromTrainer = exam.EnrollStudentExams.Where(e => e.EnrollStudentExamAnswers.Any(x => x.IsCorrect == null)).Count();
                                        EnrollStudentExamID = exam.EnrollStudentExams.FirstOrDefault().Id;
                                    }
                                    if (exam.ExamFinalMark.HasValue)
                                    {
                                        FinalMark = exam.ExamFinalMark.Value;
                                    }


                                    @if (exam.EnrollCourseExamQuestions.Count() > 0)
                                    {
                                        <p class="card-text text-primarycolor float-right">@MarkAfterConversion /@FinalMark</p>
                                        @if (exam.EnrollStudentExams.Count() == 0)
                                        {
                                            <p>
                                                <a href="#" onclick="ShowExamPrerequisite(@exam.Id)">
                                                    <img src="~/theme/Public/assets/images/lesson/quiz.png" alt="video"><span class="mx-2">@exam.Name</span>
                                                </a>
                                            </p>
                                        }

                                        else if (exam.EnrollCourseExamQuestions.Count() != 0)
                                        {
                                            <p>
                                                <a href="#" onclick="ShowExamView(@exam.Id,@EnrollStudentExamID)">
                                                    <img src="~/theme/Public/assets/images/lesson/quiz.png" alt="video"><span class="mx-2">@exam.Name</span>
                                                </a>
                                            </p>
                                        }
                                    }
                                }

                            }

                        </div>
                    }
                </div>

            </div>
        }
    </div>
}