@page
@model ChangePasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = null;
    ViewData["Title"] = @Localizer["Change password"];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<style>
    input{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>

<div class="row">
    <div class="col-12 p-0">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <form method="post" id="CurrentPasswordFrm" onsubmit="CurrentPassword()">
            <div class="mb-3 p-0">
                <label class="form-label">@Localizer["Old Password"]</label>
                <div class="position-relative w-form-control">
                    <input asp-for="Input.OldPassword" type="password" class="form-control shadow-none password" id="Input.OldPassword" name="Input.OldPassword"
                           placeholder="****************">
                    <div class="position-absolute top-50 end-0 translate-middle-y mx-3">
                        <i class="fa-solid fa-eye togglePassword"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>


            </div>
            <div class="mb-3  p-0">
                <label class="form-label">@Localizer["New Password"]</label>
                <div class="position-relative w-form-control">
                    <input asp-for="Input.NewPassword" type="password" class="form-control shadow-none password"
                           placeholder="****************" id="Input.NewPassword" name="Input.NewPassword">

                    <div class="position-absolute top-50 end-0 translate-middle-y mx-3">
                        <i class="fa-solid fa-eye togglePassword"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3  p-0">
                <label class="form-label">@Localizer["Confirm Password"]</label>
                <div class="position-relative w-form-control">
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control shadow-none password"
                           placeholder="****************" id="Input.ConfirmPassword" name="Input.ConfirmPassword" onchange="repassword()">

                    <div class="position-absolute top-50 end-0 translate-middle-y mx-3">
                        <i class="fa-solid fa-eye togglePassword"></i>
                    </div>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                <div id="validationRNPassword" class="invalid-feedback">
                    @Localizer["Please enter the password again, the same password"]
                </div>
            </div>
            <button type="submit" class="btn mt-4 btn-primary Change-Email ">@Localizer["Update Password"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

<script>
    function CurrentPassword() {
        debugger;
        event.preventDefault();
        $.ajax({
            type: "Post",
            url: "/Identity/Account/Manage/ChangePassword",
            data: $("#CurrentPasswordFrm").serialize(),

            success: function (data) {
                $('#Password').html(data);
            },
            error: function (data) {
            },
        });
    }

    /******************* login **********************/
    var togglePasswords = document.getElementsByClassName("togglePassword");
    var passwords = document.getElementsByClassName("password");
    debugger;
    for (let tp = 0; tp < togglePasswords.length; tp++) {
        togglePasswords[tp].addEventListener("click", function () {
            passwords[tp].setAttribute("type", passwords[tp].getAttribute("type") === "password" ? "text" : "password");
            this.classList.toggle("fa-eye")
            this.classList.toggle("fa-eye-slash");
        });
    }
    /******************** Repeat Password ****************************************/

    function repassword() {
        sewar = document.getElementById("validationRNPassword");

        if (document.getElementById("Input.NewPassword").value === document.getElementById("Input.ConfirmPassword").value) {
            sewar.style.display = 'none';
        } else {
            sewar.style.display = 'block';
        }
    }


</script>