@using LearningManagementSystem.Services.Helpers
@using LearningManagementSystem.Core.SystemEnums
@model DataEntity.Models.ViewModels.ManagementStandardViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Add Management Standard"];
    var modules = LookupHelper.GetModules(ViewBag.LangId);
    var languages = LookupHelper.GetLookupDetailsByMasterCode(GeneralEnums.MasterLookupCodeEnums.Languages.ToString(), ViewBag.LangId);
    var statuses = LookupHelper.GetStatuses(ViewBag.LangId);
    var types = LookupHelper.GetLookupDetailsByMasterCode(GeneralEnums.MasterLookupCodeEnums.ManagementStandardType.ToString(), ViewBag.LangId);
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="d-flex tms-page-popup-title">
                <div data-dismiss="modal" class="tms-close-div">
                    <i class="fa fa-close"></i>
                </div>
                <div class="tms-table-popup-title" style="width:97%;">
                    @Localizer["Add Management Standard"]
                </div>
            </div>
            <div class="x_content">
                <br />
                <form action="/ControlPanel/ManagementStandard/Create" method="post" id="ManagementStandard-Create" class="form-horizontal form-label-left">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12 col-xs-12">
                            <label class="control-label col-md-12 col-sm-3 col-xs-12 tms-label" for="LanguageId">
                                @Localizer["Language"]<span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                @Html.DropDownList("LanguageId", new SelectList(languages, "Id", "Name", ViewBag.LangId), new { @class = "form-control chosen-select tms-ddl", required = "required" })
                                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12 col-xs-12">
                            <label class=" control-label col-md-12 col-sm-3 col-xs-12 tms-label" for="Name">
                                @Localizer["Standard"]<span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.Standard, new { htmlAttributes = new { required = "required", @class = "form-control tms-input col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.Standard, "", new { @class = "text-danger" })
                            </div>
                        </div>
                         <div class="form-group col-lg-4 col-sm-12 col-xs-12">
                            <label class=" control-label col-md-12 col-sm-3 col-xs-12 tms-label" for="Code">
                                @Localizer["Sort Order"]<span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.SortOrder, new { htmlAttributes = new { required = "required", @class = "form-control tms-input col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.SortOrder, "", new { @class = "text-danger" })
                            </div>
                        </div>                         
                         <div class="col-lg-4 col-sm-12 col-xs-12 form-group">
                             <label class="col-xs-6 control-label tms-label" for="Status">
                                 @Localizer["Type"] <span class="required">*</span>
                             </label>
                             <div class="col-lg-12">
                                 @Html.DropDownList("Type", new SelectList(types, "Id", "Name"), Localizer["Select"].Value, new { @class = "form-control chosen-select tms-ddl", required = "required" })
                             </div>
                         </div>
                        <div class="col-lg-4 col-sm-12 col-xs-12 form-group">
                            <label class="col-xs-6 control-label tms-label" for="Status">
                                @Localizer["Status"] <span class="required">*</span>
                            </label>
                            <div class="col-lg-12">
                                @Html.DropDownList("Status", new SelectList(statuses, "Id", "Name"), Localizer["Select"].Value, new { @class = "form-control chosen-select tms-ddl", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="tms-save-btn" type="submit"><i class="fa fa-save"></i> @Localizer["Saving Changes"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/js/ManagementStandard/ManagementStandard.js"></script>
