@using LearningManagementSystem.Services.Helpers
@model DataEntity.Models.ViewModels.BranchViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="d-flex tms-page-popup-title">
            <div data-dismiss="modal" class="tms-close-div">
                <i class="fa fa-close"></i>
            </div>
            <div class="tms-table-popup-title" style="width:97%;">
                @Localizer["Delete Branch"]
            </div>
        </div>

        <div class="x_content">
            <table class="table tms-details">
                <tr>
                    <td class="tms-details-title">@Localizer["Name"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Code"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.Code)</td>
                </tr>
                <tr>
                    @{
                        var color = LookupHelper.GetLookupDetailsById(Model.ColorId.GetValueOrDefault(0))?.Code;
                    }

                    <td class="tms-details-title">@Localizer["Color"]</td>
                    <td class="tms-details-data">
                        <span style="padding:5px 17px;border-radius:5px;background-color:@color">

                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Status"]</td>
                    <td class="tms-details-data">@LookupHelper.GetStatusById(Model.Status).Name</td>
                </tr>

                <tr>
                    <td class="tms-details-title">@Localizer["Created On"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedOn)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Created By"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.CreatedBy)</td>
                </tr>

            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <button class="tms-delete-btn" type="button" onclick="ConfirmDelete(@Model.Id)"><i class="fa fa-trash"></i> @Localizer["Delete Branch"]</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/js/Branch/Branch.js"></script>
