@model DataEntity.Models.EfModels.AspNetRole
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Delete Role"];
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
                <div class="d-flex tms-page-popup-title">
                    <a onclick="history.back()">
                        <i class="fa fa-close"></i>
                    </a>
                    <div class="tms-table-popup-title" style="width:97%;">
                        @Localizer["Delete Role"]
                    </div>
                </div>
        <div class="x_content">
            <table class="table tms-details">
                <tr>
                    <td class="tms-details-title">@Localizer["Id"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.Id)</td>
                </tr>

                <tr>
                    <td class="tms-details-title">@Localizer["Name"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.Name)</td>
                </tr>

                <tr>
                    <td class="tms-details-title">@Localizer["Normalized Name"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.NormalizedName)</td>
                </tr>
                <tr>
                    <td class="tms-details-title">@Localizer["Concurrency Stamp"]</td>
                    <td class="tms-details-data">@Html.DisplayFor(model => model.ConcurrencyStamp)</td>
                </tr>

            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <button class="tms-delete-btn" type="submit"><i class="fa fa-trash"></i> @Localizer["Delete"]</button>
                </div>
            }
        </div>
    </div>
</div>
@section JavaScript{
    <script>
        $('.tms-management').addClass("active");
        $('.tms-sub-roles').addClass("active");
        $('.tms-sub-top-nav  .tms_sub_management').addClass("active");
    </script>
}

