@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery

@{
    var tokenSet = Antiforgery.GetAndStoreTokens(Context);
}

<div id="main"></div>

<div id='CreateCoursesContent' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-xl">
        <div id='CreateCoursesContentDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditCoursesContent' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-xl">
        <div id='EditCoursesContentDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='DetailsCoursesContent' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-xl">
        <div id='DetailsCompanyDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='DeleteCoursesContent' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-xl">
        <div id='DeleteRegimentDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditLecturesContent' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-xl">
        <div id='EditLecturesContentDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditTable' style="z-index: 1050" role="dialog" class='modal fade'>
    <div class="modal-dialog modal-dialog-centered">
        <div id='EditTableDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>

<div id='ShowQuizzesContent' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered modal-xl">
        <div id='ShowQuizzesContentDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>


@section JavaScript
{
    <script>
        var Token = '@tokenSet.RequestToken';
        let table = '@ViewBag.Table'.split(',');
        let s = ["Id", "SectionName", "CourseId", "Description", "Lectures", "Status", "CreatedOn", "CreatedBy"]

        var editMassege = '@Localizer["Edited successfully"]';
        var addMassege = '@Localizer["Added successfully"]';
        var deleteMassege = '@Localizer["Deleted successfully"]';
        var deleteMassegeError = '@Localizer["An error occurred while  deleting"]';
        var addMassegeError = '@Localizer["An error occurred while adding"]';
        var editMassegeError = '@Localizer["An error occurred while editing"]';
        var AddMassegeErrorInvalidSectionData = '@Localizer["An error occurred while adding, You must add a valid section name for the selected course!"]';
        var AddMassegeErrorInvalidLectureData = '@Localizer["An error occurred while adding, You must add a valid lecture name for the selected section!"]';
        var EditMassegeErrorInvalidSectionData = '@Localizer["An error occurred while editing, You must add a valid section name for the selected course!"]';
        var EditMassegeErrorInvalidLectureData = '@Localizer["An error occurred while editing, You must add a valid lecture name for the selected section!"]';
        
         $('.tms-courses').addClass("active");
        $('.tms-sub-CoursesContent').addClass("active");
         $('.tms-sub-top-nav  .tms_sub_courses').addClass("active");
    </script>

    <script src="~/js/CoursesContent/CoursesContent.js?ver=8.1"></script>
}