@model X.PagedList.IPagedList<DataEntity.Models.EfModels.CourseCategory>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery

@{
    var tokenSet = Antiforgery.GetAndStoreTokens(Context);
}

<div id="main"></div>

<div id='CreateCourseCategory' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div id='CreateCourseCategoryDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditCourseCategory' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div id='EditCourseCategoryDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='DetailsCourseCategory' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered ">
        <div id='DetailsCompanyDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='DeleteCourseCategory' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog err-pop modal-dialog-centered">
        <div id='DeleteRegimentDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='EditTable' style="z-index: 1050" role="dialog" class='modal fade'>
    <div class="modal-dialog modal-dialog-centered">
        <div id='EditTableDiv' class="modal-content">
        </div>
    </div><!-- /.modal-dialog -->
</div>
<div id='ShowImageCourseCategory' style="z-index: 1050;" role="dialog" class='modal  fade'>
    <div class="modal-dialog modal-dialog-centered">
        <div id='ShowImageRegimentDiv' class="modal-content">

        </div>
    </div><!-- /.modal-dialog -->
</div>

@section JavaScript
{
    <script>
        var Token = '@tokenSet.RequestToken';
        let table = '@ViewBag.Table'.split(',');
        let s = ["Id", "Name", "Description", "ImageUrl", "ParentId", "ShowInHomePage", "CreatedOn", "CreatedBy", "Status" ]

        var editMassege = '@Localizer["Edited successfully"]';
        var addMassege = '@Localizer["Added successfully"]';
        var deleteMassege = '@Localizer["Deleted successfully"]';
        var deleteMassegeError = '@Localizer["An error occurred while  deleting"]';
        var addMassegeError = '@Localizer["An error occurred while adding"]';
         var editMassegeError = '@Localizer["An error occurred while editing"]';
        $('.tms-courses').addClass("active");
        $('.tms-sub-CourseCategorys').addClass("active");
        $('.tms-sub-top-nav .tms_sub_courses').addClass("active");
    </script>

    <script src="~/js/CourseCategory/CourseCategory.js?ver=3.1"></script>
}