@using LearningManagementSystem.Core.SystemEnums
@using LearningManagementSystem.Services.Helpers
@model DataEntity.Models.ViewModels.CmsSliderViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery
@{

    var lookupName = new HashSet<string>() { GeneralEnums.MasterLookupCodeEnums.Languages.ToString() };
    var lookups = LookupHelper.GetLookupDetailsByMasterCode(lookupName, ViewBag.LangId);

    ViewData["Title"] = @Localizer["Add Slider"];
    var languages = lookups[GeneralEnums.MasterLookupCodeEnums.Languages.ToString()];

    int image = (int)GeneralEnums.FileEnum.Image;
    var tokenSet = Antiforgery.GetAndStoreTokens(Context);
    var statuses = LookupHelper.GetStatuses((int)ViewBag.LangId);

}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="d-flex tms-page-popup-title">
                <div data-dismiss="modal" class="tms-close-div">
                    <i class="fa fa-close"></i>
                </div>
                <div class="tms-table-popup-title" style="width:97%;">
                    @Localizer["Add Slider"]
                </div>
            </div>
            <div class="x_content">
                <br />
                <form action="/ControlPanel/CmsSlider/Create" method="post" id="CmsSlider-Create" class="form-horizontal form-label-left">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12 col-xs-12">
                            <label class="control-label col-md-12 col-sm-3 col-xs-12 tms-label" for="LanguageId">
                                @Localizer["Language"]<span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                @Html.DropDownList("LanguageId", new SelectList(languages, "Id", "Name", ViewBag.LangId), new { @class = "form-control chosen-select tms-ddl", required = "required" })
                                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12 col-xs-12">
                            <label class=" control-label col-md-12 col-sm-3 col-xs-12 tms-label" for="Name">
                                @Localizer["Name"]<span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { required = "required", @class = "form-control tms-input col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12 col-xs-12">
                            <label class=" control-label col-md-12 col-sm-3 col-xs-12 tms-label" for="ImageUrl">
                                @Localizer["Image Url"]
                            </label>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                <label class="custom-file-upload">
                                    <input type="file" accept="image/*" onchange="UploadProfilePhoto(event,'ImageUrl')" />
                                    <i class="fa fa-upload px-2 pt-1"></i> @Localizer["Upload"]
                                </label>
                                @Html.HiddenFor(r => r.ImageUrl)
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12 col-xs-12">
                            <label class=" control-label col-md-12 col-sm-3 col-xs-12 tms-label" for="ReadMoreLink">
                                @Localizer["Read More Link"]
                            </label>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.ReadMoreLink, new { htmlAttributes = new { @class = "form-control tms-input col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.ReadMoreLink, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12 col-xs-12">
                            <label class="control-label col-md-12 col-sm-3 col-xs-12 tms-label" for="SortOrder">
                                @Localizer["Sort Order"]
                            </label>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.SortOrder, new { htmlAttributes = new { @class = "form-control tms-input col-md-7 col-xs-12", @min = 1 } })
                                @Html.ValidationMessageFor(model => model.SortOrder, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12 col-xs-12">
                            <label class=" control-label col-md-12 col-sm-3 col-xs-12 tms-label" for="Image2Url">
                                @Localizer["Image2 Url"]
                            </label>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                <label class="custom-file-upload">
                                    <input type="file" accept="image/*" onchange="UploadProfilePhoto(event,'Image2Url')" />
                                    <i class="fa fa-upload px-2 pt-1"></i> @Localizer["Upload"]
                                </label>
                                @Html.HiddenFor(r => r.Image2Url)
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-xs-12 form-group">
                            <label class="col-xs-6 control-label tms-label" for="Status">
                                @Localizer["Status"] <span class="required">*</span>
                            </label>
                            <div class="col-lg-12">
                                @Html.DropDownList("Status", new SelectList(statuses, "Id", "Name"), Localizer["Select"].Value, new { @class = "form-control chosen-select tms-ddl", required = "required" })
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-sm-12 col-xs-12">
                            <label class="control-label col-md-12 col-sm-3 col-xs-12 tms-label" for="Value">
                                @Localizer["Description"]<span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(model => model.Description, new { @class = "tinyRichText" })
                                <label id="Description-error" class="error" style="display:none" for="Description">This field is required.</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="tms-save-btn" type="submit"><i class="fa fa-save"></i> @Localizer["Saving Changes"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    InitTinymce();

    function UploadProfilePhoto(e, InputName) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var formData = new FormData();
                formData.append("fileType", @image);
                for (var i = 0; i != files.length; i++) {
                    formData.append("files", files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UploadFiles", "Files", new {Area = "ControlPanel"})",
                    data: formData,
                    contentType: false,
                    processData: false,
                    headers: {
                        '@tokenSet.HeaderName': '@tokenSet.RequestToken'
                    },
                    success: function (result) {
                        $("#" + InputName).val(result[0]);
                    },
                    error: function (req, status, error) {
                        alert("Error while adding the Image");
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    }
</script>
<script src="~/js/CmsSlider/CmsSlider.js?ver=3.1"></script>
